<head>
  <link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">


  <style>

/* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 210px;
  background-color: #555;
  color: #fff;
  text-transform: none;
  border-radius: 6px;
  padding: 8px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -105px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn .4s;
  animation: fadeIn .4s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}



.delete {
    padding: 10px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 3px !important;
    border: 2px solid grey;
    background-color: grey;
    color: white;
    margin: 1vw;
}

.delete:hover {
    background-color: #696969;
    border: 2px solid #696969;
    color: white;
}

  </style>
</head>

{% extends "layout.html" %}

{% block main %}
    <h1 class="container" style="font-size: 35px;">My custom dates...</h1>
    <p>Welcome, {{ user }}. View and create custom dates here.</p>
    <form action="/custom-dates" method="post" id="form1">
        <div class="border1" style="margin-bottom: -20px;">

            {% for row in rows %}
                <input onclick="showDelete()" name="date" type="radio" id="{{ row["uniquename"] }}" value="{{ row["dispname"] }}">
                <label class="hover" for="{{ row["uniquename"] }}">{{ row["dispname"] }}</label><br>
            {% endfor %}

            <input name="date" type="radio" onclick="document.getElementById('customdate').scrollIntoView(); hideDelete();" id="customid" value="custom">
            <label class="hover2" for="customid">Add Custom Date</label><br>

        </div>

        <div style="text-align: center; margin-bottom: 30px;">
            <button onclick="return confirm1();" class="delete" style="display: none; margin: 10px; font-size: 13px;" name="delete" value="delete" id="delete">DELETE SELECTED</button><br>
            <button style="margin: 10px" type="submit" name="submit_a" value="submit_a">SUBMIT</button>
            <button style="margin: 10px" type="submit" name="submit_b" value="submit_b">SHUFFLE</button>

        </div>
    </form>

    <div>
        <span style="font-size: x-large; font-weight: bold;" class="container">Create a custom date</span>
        <p style="padding-top: 10px;">Enter your custom date name and when it happened / is due to happen.</p>

        <form name="customdate" action="/custom-dates" method="post" oninput="yesnoCheck()" onsubmit="return validateForm()" id="customdate">

            <div class="border2" style="text-align: center; display: inline-block; margin-bottom: 15px;">
                <label style="padding: 7px;">Event name:<br>
                <input name="eventName_input" id="eventName_input" type="text" placeholder="e.g. My birthday!" required></label><br>
                <label style="padding: 7px;">Date:<br>
                <input name="date_input" id="date_input" type="text" placeholder="YYYY-MM-DD HH:MM" required></label><br>

                <div id="ifYes" style="display: none;">
                  <label style="padding: 5px; font-size: 14px;">Expires once passed?</label>
                  <div class="popup" onclick="myFunction()"><i class="icon-info-sign"></i>
                  <span class="popuptext" id="myPopup">Choose if your event should be deleted after the countdown reaches 0.</span></div><br>
                  <input id="yes" name="canExpire" type="radio" value="yes">
                  <label style="padding: 7px;">Yes</label>
                  <input id="no" name="canExpire" type="radio" value="no" checked="checked">
                  <label style="padding: 7px;">No</label>
                </div>
            </div>

            <div style="text-align: center;">
                <button type="submit" name="customSubmit" value="customSubmit">SUBMIT</button>
            </div>

        </form>
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>


    <script>

        function confirm1() {
          if (confirm("Are you sure you want to delete this custom date?")) {
            document.getElementById("form1").submit();
          }
          else {
            return false;
          }
        }

        function showDelete() {
            document.getElementById("delete").style.display = "inline-block";
        }

        function hideDelete() {
            document.getElementById("delete").style.display = "none";
        }

        function yesnoCheck() {
          // needs to be in format: YYYY-MM-DDTHH:MM
          var dateInput = document.getElementById("date_input").value

          var res = dateInput.replace(" ", "T");

          var date1 = new Date(res).getTime();
          var now = new Date().getTime();


          if (date1 > now) {
              document.getElementById("ifYes").style.display = "block";
          }
          else if (document.getElementById("date_input").value == "") {
              document.getElementById("ifYes").style.display = "none";
          }

        }

        // When the user clicks on div, open the popup
        function myFunction() {
          var popup = document.getElementById("myPopup");
          popup.classList.toggle("show");
        }


        function validateForm() {
          var x = document.forms["customdate"]["date_input"].value;

          if (x == "") {
            alert("Please enter a date");
            return false;
          }

          if(x.length < 16){
        	  alert("Please follow the format YYYY-MM-DD HH:MM (e.g. 2025-03-21 14:30)");
        	  return false;
          }

          if(x.indexOf(":") == -1){
        	  alert("Please use ':' with time (e.g. 00:00)");
        	  return false;
          }

          if(x.indexOf("-") == -1){
        	  alert("Please separate with '-' (e.g. 2025-03-21)");
        	  return false;
          }

          if(x.length > 16){
        	  alert("Please ensure your date-time doesn't have a space at the end or any other character.");
        	  return false;
          }

          if(x.length !== 16 || x[4] !== '-' || x[7] !== '-' || x[10] !== ' ' || x[13] !== ':'){
        	  alert("Please ensure your date-time follows the correct format. (e.g. 2025-03-21 14:30)");
        	  return false;
          }

          if(isNaN(x[0]) !== false || isNaN(x[1]) !== false || isNaN(x[2]) !== false || isNaN(x[3]) !== false || isNaN(x[5]) !== false
          || isNaN(x[6]) !== false || isNaN(x[8]) !== false || isNaN(x[9]) !== false || isNaN(x[11]) !== false || isNaN(x[12]) !== false || isNaN(x[14]) !== false || isNaN(x[15]) !== false){
            alert("Please check your input for misplaced characters and format correctly. (e.g. 2025-03-21 14:30)");
            return false;
          }


          if (x.slice(5,7) > 12) {
            alert("Please ensure your date-time follows the correct format with months (MM) not exceeding 12. (YYYY-MM-DD HH:MM)");
        	  return false;
          }

          if (x.slice(8,10) > 31) {
            alert("Please ensure your date-time follows the correct format with days (DD) not exceeding 31. (YYYY-MM-DD HH:MM)");
        	  return false;
          }

          if (x.slice(11,13) >= 24) {
            alert("Please ensure your date-time follows the correct format with hours (HH) not exceeding 23. (YYYY-MM-DD HH:MM)");
        	  return false;
          }

          if (x.slice(14,16) >= 60) {
            alert("Please ensure your date-time follows the correct format with minutes (MM) not exceeding 59. (YYYY-MM-DD HH:MM)");
        	  return false;
          }

          if (  (x.slice(5,7) == 02 && x.slice(8,10) > 29) || (x.slice(5,7) == 04 && x.slice(8,10) > 30) || (x.slice(5,7) == 06 && x.slice(8,10) > 30) ||
          (x.slice(5,7) == 09 && x.slice(8,10) > 30) || (x.slice(5,7) == 11 && x.slice(8,10) > 30)  ) {
            alert("The day you have entered exceeds the number of days that are in that particular month.");
        	  return false;
          }

        }

    </script>
{% endblock %}