{% extends "layout.html" %}

{% block main %}
    <h1 class="container" style="font-size: 35px;">Log into your account</h1>
    <form name="account" action="/login" method="post" style="margin-bottom: 15px;">
        <div class="border1" style="margin: 15px;">
            <input autocomplete="off" autofocus id="username" name="username" placeholder="Username" type="text" required>
        </div>
        <div class="border1" style="margin: 15px;">
            <input name="psw" id="psw" placeholder="Password" type="password" required>
        </div>
        <button type="submit">Log in</button>
    </form>

    <div class="border1" style="margin: 15px; margin-top: 50px;">
      <h2 class="container" style="font-size: 28px;">Don't have an account?</h2>
    </div>
    <div class="border1" style="margin: 15px;">
      <button onclick="location.href='/register'">Create an account</button>
    </div>

    <script>

    </script>
{% endblock %}